---
---
@import "variable";

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  padding: 1rem;
  background: $main-color;
  color: $white;
  h1 {
    margin: 0;
    font-weight: 500;
    text-shadow: 1px 1px $light-grey;
  }
}

footer {
  padding: .5rem 1.5rem;
  background: $black;
  color: $white;
  a {
    float: right;
    color: $white;
    text-decoration: none;
  }
}

main {
  flex: 1;
  padding: 1rem;
}
